/* Slider */
/* line 34, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 49, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 56, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-list:focus {
  outline: none;
}
/* line 60, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-loading .slick-list {
  background: white url(/assets/ajax-loader.gif) center center no-repeat;
}
/* line 64, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 72, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 79, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
}
/* line 87, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 92, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-track:after {
  clear: both;
}
/* line 96, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 100, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 104, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slide img {
  display: block;
}
/* line 107, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 113, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 117, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 121, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 125, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url(/assets/slick.eot);
  src: url(/assets/slick.eot?#iefix) format("embedded-opentype"), url(/assets/slick.woff) format("woff"), url(/assets/slick.ttf) format("truetype"), url(/assets/slick.svg#slick) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
/* line 148, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
/* line 163, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-prev:focus,
.slick-next:focus {
  outline: none;
}
/* line 166, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

/* line 170, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 179, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-prev {
  left: -25px;
}
/* line 181, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-prev:before {
  content: "\2190";
}

/* line 185, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-next {
  right: -25px;
}
/* line 187, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-next:before {
  content: "\2192";
}

/* Dots */
/* line 194, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-slider {
  margin-bottom: 30px;
}

/* line 197, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%;
}
/* line 206, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0px 5px;
  padding: 0px;
  cursor: pointer;
}
/* line 215, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
/* line 227, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-dots li button:focus {
  outline: 0;
}
/* line 231, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 250, /Users/jason/sites/small_business_app/app/assets/stylesheets/slick.css.scss */
.slick-dots li.slick-active button:before {
  opacity: 0.75;
}
